In [1]:
import os
os.environ["DJANGO_SETTINGS_MODULE"] = "myhomework13.settings"
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"

import django
django.setup()

In [2]:
from mall.models import Shop

In [3]:
Shop.objects.all()

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 21; args=()

<QuerySet [<Shop: Shop object (204)>, <Shop: Shop object (203)>, <Shop: Shop object (202)>, <Shop: Shop object (201)>, <Shop: Shop object (200)>, <Shop: Shop object (199)>, <Shop: Shop object (198)>, <Shop: Shop object (197)>, <Shop: Shop object (196)>, <Shop: Shop object (195)>, <Shop: Shop object (194)>, <Shop: Shop object (193)>, <Shop: Shop object (192)>, <Shop: Shop object (191)>, <Shop: Shop object (190)>, <Shop: Shop object (189)>, <Shop: Shop object (188)>, <Shop: Shop object (187)>, <Shop: Shop object (186)>, <Shop: Shop object (185)>, '...(remaining elements truncated)...']>

# Create

In [4]:
shop = Shop()
shop.name = "투썸플레이스"
shop.telephone = '042-1234-1234'

In [5]:
shop.save()

(0.031) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('투썸플레이스', '', '042-1234-1234', '', '2021-12-01 11:39:51.566192', '2021-12-01 11:39:51.566192'); args=['투썸플레이스', '', '042-1234-1234', '', '2021-12-01 11:39:51.566192', '2021-12-01 11:39:51.566192']

In [6]:
shop = Shop.objects.create(
    name = '셀프24시빨래방',
    telephone = '042-1233-1233'
)
shop

(0.031) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('셀프24시빨래방', '', '042-1233-1233', '', '2021-12-01 11:39:52.325593', '2021-12-01 11:39:52.325593'); args=['셀프24시빨래방', '', '042-1233-1233', '', '2021-12-01 11:39:52.325593', '2021-12-01 11:39:52.325593']

# Select

In [7]:
qs = Shop.objects.all()

In [8]:
for shop in qs:
    print(shop.pk, shop.name, shop.telephone)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC; args=()

206 셀프24시빨래방 042-1233-1233
205 투썸플레이스 042-1234-1234
204 가게명#100 042-1234-9100
203 가게명#99 042-1234-9099
202 가게명#98 042-1234-9098
201 가게명#97 042-1234-9097
200 가게명#96 042-1234-9096
199 가게명#95 042-1234-9095
198 가게명#94 042-1234-9094
197 가게명#93 042-1234-9093
196 가게명#92 042-1234-9092
195 가게명#91 042-1234-9091
194 가게명#90 042-1234-9090
193 가게명#89 042-1234-9089
192 가게명#88 042-1234-9088
191 가게명#87 042-1234-9087
190 가게명#86 042-1234-9086
189 가게명#85 042-1234-9085
188 가게명#84 042-1234-9084
187 가게명#83 042-1234-9083
186 가게명#82 042-1234-9082
185 가게명#81 042-1234-9081
184 가게명#80 042-1234-9080
183 가게명#79 042-1234-9079
182 가게명#78 042-1234-9078
181 가게명#77 042-1234-9077
180 가게명#76 042-1234-9076
179 가게명#75 042-1234-9075
178 가게명#74 042-1234-9074
177 가게명#73 042-1234-9073
176 가게명#72 042-1234-9072
175 가게명#71 042-1234-9071
174 가게명#70 042-1234-9070
173 가게명#69 042-1234-9069
172 가게명#68 042-1234-9068
171 가게명#67 042-1234-9067
170 가게명#66 042-1234-9066
169 가게명#65 042-1234-9065
168 가게명#64 042-1234-9064
167 가게명#63 042-1234-9063
166 가게명#62 042-1234-9062
165 가게명#61 042-1234-9061
164 가게명#60 042-1234-9060
163 가게명#59 042-1234-9059
162 가게명#58 042-1234-9058
161 가게명#57 042-1234-9057
160 가게명#56 042-1234-9056
159 가게명#55 042-1234-9055
158 가게명#54 042-1234-9054
157 가게명#53 042-1234-9053
156 가게명#52 042-1234-9052
155 가게명#51 042-1234-9051
154 가게명#50 042-1234-9050
153 가게명#49 042-1234-9049
152 가게명#48 042-1234-9048
151 가게명#47 042-1234-9047
150 가게명#46 042-1234-9046
149 가게명#45 042-1234-9045
148 가게명#44 042-1234-9044
147 가게명#43 042-1234-9043
146 가게명#42 042-1234-9042
145 가게명#41 042-1234-9041
144 가게명#40 042-1234-9040
143 가게명#39 042-1234-9039
142 가게명#38 042-1234-9038
141 가게명#37 042-1234-9037
140 가게명#36 042-1234-9036
139 가게명#35 042-1234-9035
138 가게명#34 042-1234-9034
137 가게명#33 042-1234-9033
136 가게명#32 042-1234-9032
135 가게명#31 042-1234-9031
134 가게명#30 042-1234-9030
133 가게명#29 042-1234-9029
132 가게명#28 042-1234-9028
131 가게명#27 042-1234-9027
130 가게명#26 042-1234-9026
129 가게명#25 042-1234-9025
128 가게명#24 042-1234-9024
127 가게명#23 042-1234-9023
126 가게명#22 042-1234-9022
125 가게명#21 042-1234-9021
124 가게명#20 042-1234-9020
123 가게명#19 042-1234-9019
122 가게명#18 042-1234-9018
121 가게명#17 042-1234-9017
120 가게명#16 042-1234-9016
119 가게명#15 042-1234-9015
118 가게명#14 042-1234-9014
117 가게명#13 042-1234-9013
116 가게명#12 042-1234-9012
115 가게명#11 042-1234-9011
114 가게명#10 042-1234-9010
113 가게명#9 042-1234-9009
112 가게명#8 042-1234-9008
111 가게명#7 042-1234-9007
110 가게명#6 042-1234-9006
109 가게명#5 042-1234-9005
108 가게명#4 042-1234-9004
107 가게명#3 042-1234-9003
106 가게명#2 042-1234-9002
105 가게명#1 042-1234-9001
104 셀프24시빨래방 042-1233-1233
103 투썸플레이스 042-1234-1234

In [9]:
qs.order_by("-id")

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 21; args=()

<QuerySet [<Shop: Shop object (206)>, <Shop: Shop object (205)>, <Shop: Shop object (204)>, <Shop: Shop object (203)>, <Shop: Shop object (202)>, <Shop: Shop object (201)>, <Shop: Shop object (200)>, <Shop: Shop object (199)>, <Shop: Shop object (198)>, <Shop: Shop object (197)>, <Shop: Shop object (196)>, <Shop: Shop object (195)>, <Shop: Shop object (194)>, <Shop: Shop object (193)>, <Shop: Shop object (192)>, <Shop: Shop object (191)>, <Shop: Shop object (190)>, <Shop: Shop object (189)>, <Shop: Shop object (188)>, <Shop: Shop object (187)>, '...(remaining elements truncated)...']>

# 데이터 뻥튀기

In [10]:
for i in range(1, 101):
    name = f"가게명#{i}"
    telephone = f"042-1234-9{i:03}"
    Shop.objects.create(
        name = name,
        telephone = telephone,
    )

(0.032) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#1', '', '042-1234-9001', '', '2021-12-01 11:39:56.019911', '2021-12-01 11:39:56.019911'); args=['가게명#1', '', '042-1234-9001', '', '2021-12-01 11:39:56.019911', '2021-12-01 11:39:56.019911']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#2', '', '042-1234-9002', '', '2021-12-01 11:39:56.041328', '2021-12-01 11:39:56.041328'); args=['가게명#2', '', '042-1234-9002', '', '2021-12-01 11:39:56.041328', '2021-12-01 11:39:56.041328']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#3', '', '042-1234-9003', '', '2021-12-01 11:39:56.055461', '2021-12-01 11:39:56.055461'); args=['가게명#3', '', '042-1234-9003', '', '2021-12-01 11:39:56.055461', '2021-12-01 11:39:56.055461']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#4', '', '042-1234-9004', '', '2021-12-01 11:39:56.065359', '2021-12-01 11:39:56.065359'); args=['가게명#4', '', '042-1234-9004', '', '2021-12-01 11:39:56.065359', '2021-12-01 11:39:56.065359']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#5', '', '042-1234-9005', '', '2021-12-01 11:39:56.076092', '2021-12-01 11:39:56.076092'); args=['가게명#5', '', '042-1234-9005', '', '2021-12-01 11:39:56.076092', '2021-12-01 11:39:56.076092']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#6', '', '042-1234-9006', '', '2021-12-01 11:39:56.086600', '2021-12-01 11:39:56.086600'); args=['가게명#6', '', '042-1234-9006', '', '2021-12-01 11:39:56.086600', '2021-12-01 11:39:56.086600']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#7', '', '042-1234-9007', '', '2021-12-01 11:39:56.099790', '2021-12-01 11:39:56.099790'); args=['가게명#7', '', '042-1234-9007', '', '2021-12-01 11:39:56.099790', '2021-12-01 11:39:56.099790']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#8', '', '042-1234-9008', '', '2021-12-01 11:39:56.109096', '2021-12-01 11:39:56.109096'); args=['가게명#8', '', '042-1234-9008', '', '2021-12-01 11:39:56.109096', '2021-12-01 11:39:56.109096']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#9', '', '042-1234-9009', '', '2021-12-01 11:39:56.116192', '2021-12-01 11:39:56.116192'); args=['가게명#9', '', '042-1234-9009', '', '2021-12-01 11:39:56.116192', '2021-12-01 11:39:56.116192']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#10', '', '042-1234-9010', '', '2021-12-01 11:39:56.123626', '2021-12-01 11:39:56.123626'); args=['가게명#10', '', '042-1234-9010', '', '2021-12-01 11:39:56.123626', '2021-12-01 11:39:56.123626']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#11', '', '042-1234-9011', '', '2021-12-01 11:39:56.130749', '2021-12-01 11:39:56.130749'); args=['가게명#11', '', '042-1234-9011', '', '2021-12-01 11:39:56.130749', '2021-12-01 11:39:56.130749']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#12', '', '042-1234-9012', '', '2021-12-01 11:39:56.137970', '2021-12-01 11:39:56.137970'); args=['가게명#12', '', '042-1234-9012', '', '2021-12-01 11:39:56.137970', '2021-12-01 11:39:56.137970']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#13', '', '042-1234-9013', '', '2021-12-01 11:39:56.145936', '2021-12-01 11:39:56.145936'); args=['가게명#13', '', '042-1234-9013', '', '2021-12-01 11:39:56.145936', '2021-12-01 11:39:56.145936']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#14', '', '042-1234-9014', '', '2021-12-01 11:39:56.152920', '2021-12-01 11:39:56.152920'); args=['가게명#14', '', '042-1234-9014', '', '2021-12-01 11:39:56.152920', '2021-12-01 11:39:56.152920']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#15', '', '042-1234-9015', '', '2021-12-01 11:39:56.160663', '2021-12-01 11:39:56.160663'); args=['가게명#15', '', '042-1234-9015', '', '2021-12-01 11:39:56.160663', '2021-12-01 11:39:56.160663']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#16', '', '042-1234-9016', '', '2021-12-01 11:39:56.168888', '2021-12-01 11:39:56.168888'); args=['가게명#16', '', '042-1234-9016', '', '2021-12-01 11:39:56.168888', '2021-12-01 11:39:56.168888']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#17', '', '042-1234-9017', '', '2021-12-01 11:39:56.176235', '2021-12-01 11:39:56.176235'); args=['가게명#17', '', '042-1234-9017', '', '2021-12-01 11:39:56.176235', '2021-12-01 11:39:56.176235']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#18', '', '042-1234-9018', '', '2021-12-01 11:39:56.183358', '2021-12-01 11:39:56.183358'); args=['가게명#18', '', '042-1234-9018', '', '2021-12-01 11:39:56.183358', '2021-12-01 11:39:56.183358']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#19', '', '042-1234-9019', '', '2021-12-01 11:39:56.189120', '2021-12-01 11:39:56.189120'); args=['가게명#19', '', '042-1234-9019', '', '2021-12-01 11:39:56.189120', '2021-12-01 11:39:56.189120']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#20', '', '042-1234-9020', '', '2021-12-01 11:39:56.196576', '2021-12-01 11:39:56.196576'); args=['가게명#20', '', '042-1234-9020', '', '2021-12-01 11:39:56.196576', '2021-12-01 11:39:56.196576']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#21', '', '042-1234-9021', '', '2021-12-01 11:39:56.203559', '2021-12-01 11:39:56.203559'); args=['가게명#21', '', '042-1234-9021', '', '2021-12-01 11:39:56.203559', '2021-12-01 11:39:56.203559']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#22', '', '042-1234-9022', '', '2021-12-01 11:39:56.219092', '2021-12-01 11:39:56.219092'); args=['가게명#22', '', '042-1234-9022', '', '2021-12-01 11:39:56.219092', '2021-12-01 11:39:56.219092']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#23', '', '042-1234-9023', '', '2021-12-01 11:39:56.225136', '2021-12-01 11:39:56.225136'); args=['가게명#23', '', '042-1234-9023', '', '2021-12-01 11:39:56.225136', '2021-12-01 11:39:56.225136']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#24', '', '042-1234-9024', '', '2021-12-01 11:39:56.232896', '2021-12-01 11:39:56.232896'); args=['가게명#24', '', '042-1234-9024', '', '2021-12-01 11:39:56.232896', '2021-12-01 11:39:56.232896']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#25', '', '042-1234-9025', '', '2021-12-01 11:39:56.239934', '2021-12-01 11:39:56.239934'); args=['가게명#25', '', '042-1234-9025', '', '2021-12-01 11:39:56.239934', '2021-12-01 11:39:56.239934']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#26', '', '042-1234-9026', '', '2021-12-01 11:39:56.245918', '2021-12-01 11:39:56.245918'); args=['가게명#26', '', '042-1234-9026', '', '2021-12-01 11:39:56.245918', '2021-12-01 11:39:56.245918']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#27', '', '042-1234-9027', '', '2021-12-01 11:39:56.252955', '2021-12-01 11:39:56.252955'); args=['가게명#27', '', '042-1234-9027', '', '2021-12-01 11:39:56.252955', '2021-12-01 11:39:56.252955']

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#28', '', '042-1234-9028', '', '2021-12-01 11:39:56.260717', '2021-12-01 11:39:56.260717'); args=['가게명#28', '', '042-1234-9028', '', '2021-12-01 11:39:56.260717', '2021-12-01 11:39:56.260717']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#29', '', '042-1234-9029', '', '2021-12-01 11:39:56.267911', '2021-12-01 11:39:56.267911'); args=['가게명#29', '', '042-1234-9029', '', '2021-12-01 11:39:56.267911', '2021-12-01 11:39:56.267911']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#30', '', '042-1234-9030', '', '2021-12-01 11:39:56.273758', '2021-12-01 11:39:56.273758'); args=['가게명#30', '', '042-1234-9030', '', '2021-12-01 11:39:56.273758', '2021-12-01 11:39:56.273758']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#31', '', '042-1234-9031', '', '2021-12-01 11:39:56.281951', '2021-12-01 11:39:56.281951'); args=['가게명#31', '', '042-1234-9031', '', '2021-12-01 11:39:56.281951', '2021-12-01 11:39:56.281951']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#32', '', '042-1234-9032', '', '2021-12-01 11:39:56.288794', '2021-12-01 11:39:56.288794'); args=['가게명#32', '', '042-1234-9032', '', '2021-12-01 11:39:56.288794', '2021-12-01 11:39:56.288794']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#33', '', '042-1234-9033', '', '2021-12-01 11:39:56.296168', '2021-12-01 11:39:56.296168'); args=['가게명#33', '', '042-1234-9033', '', '2021-12-01 11:39:56.296168', '2021-12-01 11:39:56.296168']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#34', '', '042-1234-9034', '', '2021-12-01 11:39:56.302835', '2021-12-01 11:39:56.302835'); args=['가게명#34', '', '042-1234-9034', '', '2021-12-01 11:39:56.302835', '2021-12-01 11:39:56.302835']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#35', '', '042-1234-9035', '', '2021-12-01 11:39:56.310187', '2021-12-01 11:39:56.310187'); args=['가게명#35', '', '042-1234-9035', '', '2021-12-01 11:39:56.310187', '2021-12-01 11:39:56.310187']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#36', '', '042-1234-9036', '', '2021-12-01 11:39:56.318944', '2021-12-01 11:39:56.318944'); args=['가게명#36', '', '042-1234-9036', '', '2021-12-01 11:39:56.318944', '2021-12-01 11:39:56.318944']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#37', '', '042-1234-9037', '', '2021-12-01 11:39:56.328793', '2021-12-01 11:39:56.328793'); args=['가게명#37', '', '042-1234-9037', '', '2021-12-01 11:39:56.328793', '2021-12-01 11:39:56.328793']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#38', '', '042-1234-9038', '', '2021-12-01 11:39:56.334854', '2021-12-01 11:39:56.334854'); args=['가게명#38', '', '042-1234-9038', '', '2021-12-01 11:39:56.334854', '2021-12-01 11:39:56.334854']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#39', '', '042-1234-9039', '', '2021-12-01 11:39:56.341549', '2021-12-01 11:39:56.341549'); args=['가게명#39', '', '042-1234-9039', '', '2021-12-01 11:39:56.341549', '2021-12-01 11:39:56.341549']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#40', '', '042-1234-9040', '', '2021-12-01 11:39:56.348455', '2021-12-01 11:39:56.348455'); args=['가게명#40', '', '042-1234-9040', '', '2021-12-01 11:39:56.348455', '2021-12-01 11:39:56.348455']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#41', '', '042-1234-9041', '', '2021-12-01 11:39:56.354325', '2021-12-01 11:39:56.354325'); args=['가게명#41', '', '042-1234-9041', '', '2021-12-01 11:39:56.354325', '2021-12-01 11:39:56.354325']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#42', '', '042-1234-9042', '', '2021-12-01 11:39:56.361008', '2021-12-01 11:39:56.361008'); args=['가게명#42', '', '042-1234-9042', '', '2021-12-01 11:39:56.361008', '2021-12-01 11:39:56.361008']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#43', '', '042-1234-9043', '', '2021-12-01 11:39:56.368603', '2021-12-01 11:39:56.368603'); args=['가게명#43', '', '042-1234-9043', '', '2021-12-01 11:39:56.368603', '2021-12-01 11:39:56.368603']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#44', '', '042-1234-9044', '', '2021-12-01 11:39:56.374669', '2021-12-01 11:39:56.374669'); args=['가게명#44', '', '042-1234-9044', '', '2021-12-01 11:39:56.374669', '2021-12-01 11:39:56.374669']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#45', '', '042-1234-9045', '', '2021-12-01 11:39:56.381805', '2021-12-01 11:39:56.381805'); args=['가게명#45', '', '042-1234-9045', '', '2021-12-01 11:39:56.381805', '2021-12-01 11:39:56.381805']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#46', '', '042-1234-9046', '', '2021-12-01 11:39:56.387835', '2021-12-01 11:39:56.387835'); args=['가게명#46', '', '042-1234-9046', '', '2021-12-01 11:39:56.387835', '2021-12-01 11:39:56.387835']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#47', '', '042-1234-9047', '', '2021-12-01 11:39:56.394034', '2021-12-01 11:39:56.394034'); args=['가게명#47', '', '042-1234-9047', '', '2021-12-01 11:39:56.394034', '2021-12-01 11:39:56.394034']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#48', '', '042-1234-9048', '', '2021-12-01 11:39:56.404222', '2021-12-01 11:39:56.404222'); args=['가게명#48', '', '042-1234-9048', '', '2021-12-01 11:39:56.404222', '2021-12-01 11:39:56.404222']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#49', '', '042-1234-9049', '', '2021-12-01 11:39:56.411320', '2021-12-01 11:39:56.411320'); args=['가게명#49', '', '042-1234-9049', '', '2021-12-01 11:39:56.411320', '2021-12-01 11:39:56.411320']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#50', '', '042-1234-9050', '', '2021-12-01 11:39:56.417115', '2021-12-01 11:39:56.417115'); args=['가게명#50', '', '042-1234-9050', '', '2021-12-01 11:39:56.417115', '2021-12-01 11:39:56.417115']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#51', '', '042-1234-9051', '', '2021-12-01 11:39:56.424411', '2021-12-01 11:39:56.424411'); args=['가게명#51', '', '042-1234-9051', '', '2021-12-01 11:39:56.424411', '2021-12-01 11:39:56.424411']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#52', '', '042-1234-9052', '', '2021-12-01 11:39:56.430992', '2021-12-01 11:39:56.430992'); args=['가게명#52', '', '042-1234-9052', '', '2021-12-01 11:39:56.430992', '2021-12-01 11:39:56.430992']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#53', '', '042-1234-9053', '', '2021-12-01 11:39:56.438998', '2021-12-01 11:39:56.438998'); args=['가게명#53', '', '042-1234-9053', '', '2021-12-01 11:39:56.438998', '2021-12-01 11:39:56.438998']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#54', '', '042-1234-9054', '', '2021-12-01 11:39:56.445283', '2021-12-01 11:39:56.445283'); args=['가게명#54', '', '042-1234-9054', '', '2021-12-01 11:39:56.445283', '2021-12-01 11:39:56.445283']

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#55', '', '042-1234-9055', '', '2021-12-01 11:39:56.451641', '2021-12-01 11:39:56.451641'); args=['가게명#55', '', '042-1234-9055', '', '2021-12-01 11:39:56.451641', '2021-12-01 11:39:56.451641']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#56', '', '042-1234-9056', '', '2021-12-01 11:39:56.459994', '2021-12-01 11:39:56.459994'); args=['가게명#56', '', '042-1234-9056', '', '2021-12-01 11:39:56.459994', '2021-12-01 11:39:56.459994']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#57', '', '042-1234-9057', '', '2021-12-01 11:39:56.470496', '2021-12-01 11:39:56.471480'); args=['가게명#57', '', '042-1234-9057', '', '2021-12-01 11:39:56.470496', '2021-12-01 11:39:56.471480']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#58', '', '042-1234-9058', '', '2021-12-01 11:39:56.478514', '2021-12-01 11:39:56.478514'); args=['가게명#58', '', '042-1234-9058', '', '2021-12-01 11:39:56.478514', '2021-12-01 11:39:56.478514']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#59', '', '042-1234-9059', '', '2021-12-01 11:39:56.486191', '2021-12-01 11:39:56.486191'); args=['가게명#59', '', '042-1234-9059', '', '2021-12-01 11:39:56.486191', '2021-12-01 11:39:56.486191']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#60', '', '042-1234-9060', '', '2021-12-01 11:39:56.493007', '2021-12-01 11:39:56.493007'); args=['가게명#60', '', '042-1234-9060', '', '2021-12-01 11:39:56.493007', '2021-12-01 11:39:56.493007']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#61', '', '042-1234-9061', '', '2021-12-01 11:39:56.500041', '2021-12-01 11:39:56.500041'); args=['가게명#61', '', '042-1234-9061', '', '2021-12-01 11:39:56.500041', '2021-12-01 11:39:56.500041']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#62', '', '042-1234-9062', '', '2021-12-01 11:39:56.507020', '2021-12-01 11:39:56.507020'); args=['가게명#62', '', '042-1234-9062', '', '2021-12-01 11:39:56.507020', '2021-12-01 11:39:56.507020']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#63', '', '042-1234-9063', '', '2021-12-01 11:39:56.517971', '2021-12-01 11:39:56.517971'); args=['가게명#63', '', '042-1234-9063', '', '2021-12-01 11:39:56.517971', '2021-12-01 11:39:56.517971']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#64', '', '042-1234-9064', '', '2021-12-01 11:39:56.528415', '2021-12-01 11:39:56.528415'); args=['가게명#64', '', '042-1234-9064', '', '2021-12-01 11:39:56.528415', '2021-12-01 11:39:56.528415']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#65', '', '042-1234-9065', '', '2021-12-01 11:39:56.539038', '2021-12-01 11:39:56.539038'); args=['가게명#65', '', '042-1234-9065', '', '2021-12-01 11:39:56.539038', '2021-12-01 11:39:56.539038']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#66', '', '042-1234-9066', '', '2021-12-01 11:39:56.550028', '2021-12-01 11:39:56.550028'); args=['가게명#66', '', '042-1234-9066', '', '2021-12-01 11:39:56.550028', '2021-12-01 11:39:56.550028']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#67', '', '042-1234-9067', '', '2021-12-01 11:39:56.561188', '2021-12-01 11:39:56.561188'); args=['가게명#67', '', '042-1234-9067', '', '2021-12-01 11:39:56.561188', '2021-12-01 11:39:56.561188']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#68', '', '042-1234-9068', '', '2021-12-01 11:39:56.575678', '2021-12-01 11:39:56.575678'); args=['가게명#68', '', '042-1234-9068', '', '2021-12-01 11:39:56.575678', '2021-12-01 11:39:56.575678']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#69', '', '042-1234-9069', '', '2021-12-01 11:39:56.586026', '2021-12-01 11:39:56.586026'); args=['가게명#69', '', '042-1234-9069', '', '2021-12-01 11:39:56.586026', '2021-12-01 11:39:56.586026']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#70', '', '042-1234-9070', '', '2021-12-01 11:39:56.602846', '2021-12-01 11:39:56.602846'); args=['가게명#70', '', '042-1234-9070', '', '2021-12-01 11:39:56.602846', '2021-12-01 11:39:56.602846']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#71', '', '042-1234-9071', '', '2021-12-01 11:39:56.611494', '2021-12-01 11:39:56.611494'); args=['가게명#71', '', '042-1234-9071', '', '2021-12-01 11:39:56.611494', '2021-12-01 11:39:56.611494']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#72', '', '042-1234-9072', '', '2021-12-01 11:39:56.623917', '2021-12-01 11:39:56.623917'); args=['가게명#72', '', '042-1234-9072', '', '2021-12-01 11:39:56.623917', '2021-12-01 11:39:56.623917']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#73', '', '042-1234-9073', '', '2021-12-01 11:39:56.631780', '2021-12-01 11:39:56.631780'); args=['가게명#73', '', '042-1234-9073', '', '2021-12-01 11:39:56.631780', '2021-12-01 11:39:56.631780']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#74', '', '042-1234-9074', '', '2021-12-01 11:39:56.640310', '2021-12-01 11:39:56.640310'); args=['가게명#74', '', '042-1234-9074', '', '2021-12-01 11:39:56.640310', '2021-12-01 11:39:56.640310']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#75', '', '042-1234-9075', '', '2021-12-01 11:39:56.649603', '2021-12-01 11:39:56.649603'); args=['가게명#75', '', '042-1234-9075', '', '2021-12-01 11:39:56.649603', '2021-12-01 11:39:56.649603']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#76', '', '042-1234-9076', '', '2021-12-01 11:39:56.657397', '2021-12-01 11:39:56.657397'); args=['가게명#76', '', '042-1234-9076', '', '2021-12-01 11:39:56.657397', '2021-12-01 11:39:56.657397']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#77', '', '042-1234-9077', '', '2021-12-01 11:39:56.666247', '2021-12-01 11:39:56.666247'); args=['가게명#77', '', '042-1234-9077', '', '2021-12-01 11:39:56.666247', '2021-12-01 11:39:56.666247']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#78', '', '042-1234-9078', '', '2021-12-01 11:39:56.675647', '2021-12-01 11:39:56.675647'); args=['가게명#78', '', '042-1234-9078', '', '2021-12-01 11:39:56.675647', '2021-12-01 11:39:56.675647']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#79', '', '042-1234-9079', '', '2021-12-01 11:39:56.683791', '2021-12-01 11:39:56.683791'); args=['가게명#79', '', '042-1234-9079', '', '2021-12-01 11:39:56.683791', '2021-12-01 11:39:56.683791']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#80', '', '042-1234-9080', '', '2021-12-01 11:39:56.694020', '2021-12-01 11:39:56.694020'); args=['가게명#80', '', '042-1234-9080', '', '2021-12-01 11:39:56.694020', '2021-12-01 11:39:56.694020']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#81', '', '042-1234-9081', '', '2021-12-01 11:39:56.701939', '2021-12-01 11:39:56.701939'); args=['가게명#81', '', '042-1234-9081', '', '2021-12-01 11:39:56.701939', '2021-12-01 11:39:56.701939']

(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#82', '', '042-1234-9082', '', '2021-12-01 11:39:56.710309', '2021-12-01 11:39:56.710309'); args=['가게명#82', '', '042-1234-9082', '', '2021-12-01 11:39:56.710309', '2021-12-01 11:39:56.710309']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#83', '', '042-1234-9083', '', '2021-12-01 11:39:56.718056', '2021-12-01 11:39:56.718056'); args=['가게명#83', '', '042-1234-9083', '', '2021-12-01 11:39:56.718056', '2021-12-01 11:39:56.718056']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#84', '', '042-1234-9084', '', '2021-12-01 11:39:56.725206', '2021-12-01 11:39:56.725206'); args=['가게명#84', '', '042-1234-9084', '', '2021-12-01 11:39:56.725206', '2021-12-01 11:39:56.725206']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#85', '', '042-1234-9085', '', '2021-12-01 11:39:56.732745', '2021-12-01 11:39:56.732745'); args=['가게명#85', '', '042-1234-9085', '', '2021-12-01 11:39:56.732745', '2021-12-01 11:39:56.732745']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#86', '', '042-1234-9086', '', '2021-12-01 11:39:56.738591', '2021-12-01 11:39:56.738591'); args=['가게명#86', '', '042-1234-9086', '', '2021-12-01 11:39:56.738591', '2021-12-01 11:39:56.738591']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#87', '', '042-1234-9087', '', '2021-12-01 11:39:56.744939', '2021-12-01 11:39:56.744939'); args=['가게명#87', '', '042-1234-9087', '', '2021-12-01 11:39:56.744939', '2021-12-01 11:39:56.744939']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#88', '', '042-1234-9088', '', '2021-12-01 11:39:56.752059', '2021-12-01 11:39:56.752059'); args=['가게명#88', '', '042-1234-9088', '', '2021-12-01 11:39:56.752059', '2021-12-01 11:39:56.752059']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#89', '', '042-1234-9089', '', '2021-12-01 11:39:56.758097', '2021-12-01 11:39:56.758097'); args=['가게명#89', '', '042-1234-9089', '', '2021-12-01 11:39:56.758097', '2021-12-01 11:39:56.758097']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#90', '', '042-1234-9090', '', '2021-12-01 11:39:56.769806', '2021-12-01 11:39:56.769806'); args=['가게명#90', '', '042-1234-9090', '', '2021-12-01 11:39:56.769806', '2021-12-01 11:39:56.769806']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#91', '', '042-1234-9091', '', '2021-12-01 11:39:56.777690', '2021-12-01 11:39:56.777690'); args=['가게명#91', '', '042-1234-9091', '', '2021-12-01 11:39:56.777690', '2021-12-01 11:39:56.777690']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#92', '', '042-1234-9092', '', '2021-12-01 11:39:56.784855', '2021-12-01 11:39:56.784855'); args=['가게명#92', '', '042-1234-9092', '', '2021-12-01 11:39:56.784855', '2021-12-01 11:39:56.784855']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#93', '', '042-1234-9093', '', '2021-12-01 11:39:56.794907', '2021-12-01 11:39:56.794907'); args=['가게명#93', '', '042-1234-9093', '', '2021-12-01 11:39:56.794907', '2021-12-01 11:39:56.794907']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#94', '', '042-1234-9094', '', '2021-12-01 11:39:56.806135', '2021-12-01 11:39:56.806135'); args=['가게명#94', '', '042-1234-9094', '', '2021-12-01 11:39:56.806135', '2021-12-01 11:39:56.806135']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#95', '', '042-1234-9095', '', '2021-12-01 11:39:56.813228', '2021-12-01 11:39:56.813228'); args=['가게명#95', '', '042-1234-9095', '', '2021-12-01 11:39:56.813228', '2021-12-01 11:39:56.813228']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#96', '', '042-1234-9096', '', '2021-12-01 11:39:56.821568', '2021-12-01 11:39:56.821568'); args=['가게명#96', '', '042-1234-9096', '', '2021-12-01 11:39:56.821568', '2021-12-01 11:39:56.821568']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#97', '', '042-1234-9097', '', '2021-12-01 11:39:56.828288', '2021-12-01 11:39:56.828288'); args=['가게명#97', '', '042-1234-9097', '', '2021-12-01 11:39:56.828288', '2021-12-01 11:39:56.828288']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#98', '', '042-1234-9098', '', '2021-12-01 11:39:56.834976', '2021-12-01 11:39:56.834976'); args=['가게명#98', '', '042-1234-9098', '', '2021-12-01 11:39:56.834976', '2021-12-01 11:39:56.834976']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#99', '', '042-1234-9099', '', '2021-12-01 11:39:56.841677', '2021-12-01 11:39:56.841677'); args=['가게명#99', '', '042-1234-9099', '', '2021-12-01 11:39:56.841677', '2021-12-01 11:39:56.841677']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#100', '', '042-1234-9100', '', '2021-12-01 11:39:56.848786', '2021-12-01 11:39:56.848786'); args=['가게명#100', '', '042-1234-9100', '', '2021-12-01 11:39:56.848786', '2021-12-01 11:39:56.848786']

# Slicing

In [11]:
qs = Shop.objects.all()

In [12]:
qs[:10]

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 10; args=()

<QuerySet [<Shop: Shop object (306)>, <Shop: Shop object (305)>, <Shop: Shop object (304)>, <Shop: Shop object (303)>, <Shop: Shop object (302)>, <Shop: Shop object (301)>, <Shop: Shop object (300)>, <Shop: Shop object (299)>, <Shop: Shop object (298)>, <Shop: Shop object (297)>]>

In [13]:
qs[0:10:2]

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 10; args=()

[<Shop: Shop object (306)>,
 <Shop: Shop object (304)>,
 <Shop: Shop object (302)>,
 <Shop: Shop object (300)>,
 <Shop: Shop object (298)>]

In [14]:
for shop in reversed(qs.order_by("id")[:10]):
    print(shop.pk, shop.name, shop.telephone)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" ASC LIMIT 10; args=()

112 가게명#8 042-1234-9008
111 가게명#7 042-1234-9007
110 가게명#6 042-1234-9006
109 가게명#5 042-1234-9005
108 가게명#4 042-1234-9004
107 가게명#3 042-1234-9003
106 가게명#2 042-1234-9002
105 가게명#1 042-1234-9001
104 셀프24시빨래방 042-1233-1233
103 투썸플레이스 042-1234-1234

# Conditions

In [15]:
qs = Shop.objects.all()

In [16]:
qs.filter(pk=1)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 1 ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(1,)

In [17]:
qs.exclude(pk=1)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE NOT ("mall_shop"."id" = 1) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(1,)

<QuerySet [<Shop: Shop object (306)>, <Shop: Shop object (305)>, <Shop: Shop object (304)>, <Shop: Shop object (303)>, <Shop: Shop object (302)>, <Shop: Shop object (301)>, <Shop: Shop object (300)>, <Shop: Shop object (299)>, <Shop: Shop object (298)>, <Shop: Shop object (297)>, <Shop: Shop object (296)>, <Shop: Shop object (295)>, <Shop: Shop object (294)>, <Shop: Shop object (293)>, <Shop: Shop object (292)>, <Shop: Shop object (291)>, <Shop: Shop object (290)>, <Shop: Shop object (289)>, <Shop: Shop object (288)>, <Shop: Shop object (287)>, '...(remaining elements truncated)...']>

In [18]:
qs.filter(
    pk__gte=5,
    pk__lt=10,
)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 AND "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

In [19]:
qs.filter(pk__gte=5).filter(pk__lt=10)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 AND "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

In [20]:
qs1 = Shop.objects.all()
qs1 = qs1.filter(pk__gte=5)
qs1 = qs1.filter(pk__lt=10)

In [21]:
qs1

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 AND "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

In [22]:
qs2 = Shop.objects.all().filter(pk__gte=5).filter(pk__lt=10)

In [23]:
qs2

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 AND "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

In [24]:
qs = Shop.objects.all()

In [25]:
Shop.objects.all()

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 21; args=()

<QuerySet [<Shop: Shop object (306)>, <Shop: Shop object (305)>, <Shop: Shop object (304)>, <Shop: Shop object (303)>, <Shop: Shop object (302)>, <Shop: Shop object (301)>, <Shop: Shop object (300)>, <Shop: Shop object (299)>, <Shop: Shop object (298)>, <Shop: Shop object (297)>, <Shop: Shop object (296)>, <Shop: Shop object (295)>, <Shop: Shop object (294)>, <Shop: Shop object (293)>, <Shop: Shop object (292)>, <Shop: Shop object (291)>, <Shop: Shop object (290)>, <Shop: Shop object (289)>, <Shop: Shop object (288)>, <Shop: Shop object (287)>, '...(remaining elements truncated)...']>

# Get 1 Row

In [26]:
pk = 10
not_existed_pk = 100000

In [27]:
shop = Shop.objects.get(pk=pk)
shop

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 10 LIMIT 21; args=(10,)

DoesNotExist: Shop matching query does not exist.

In [28]:
Shop.objects.get(pk=not_existed_pk)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 100000 LIMIT 21; args=(100000,)

DoesNotExist: Shop matching query does not exist.

In [29]:
shop = Shop.objects.filter(pk=pk)[0]
shop

(0.015) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 10 ORDER BY "mall_shop"."id" DESC LIMIT 1; args=(10,)

IndexError: list index out of range

In [30]:
Shop.objects.filter(pk=not_existed_pk)[0]

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 100000 ORDER BY "mall_shop"."id" DESC LIMIT 1; args=(100000,)

IndexError: list index out of range

In [31]:
Shop.objects.filter(pk=not_existed_pk).first()

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 100000 ORDER BY "mall_shop"."id" DESC LIMIT 1; args=(100000,)

# Conditions(OR)

In [32]:
qs = Shop.objects.all()
qs.filter(pk__gte=5, pk__lt=10)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 AND "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

In [33]:
from django.db.models import Q

In [34]:
Q(pk__gte=5)

In [35]:
Q(pk_lt=10)

In [36]:
Q(pk__gte=5) & Q(pk__lt=10)

In [37]:
Q(pk__gte=5) | Q(pk__lt=10)

In [38]:
qs = Shop.objects.all()
qs.filter(
    Q(pk__gte=5) | Q(pk__lt=10),
)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 OR "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

<QuerySet [<Shop: Shop object (306)>, <Shop: Shop object (305)>, <Shop: Shop object (304)>, <Shop: Shop object (303)>, <Shop: Shop object (302)>, <Shop: Shop object (301)>, <Shop: Shop object (300)>, <Shop: Shop object (299)>, <Shop: Shop object (298)>, <Shop: Shop object (297)>, <Shop: Shop object (296)>, <Shop: Shop object (295)>, <Shop: Shop object (294)>, <Shop: Shop object (293)>, <Shop: Shop object (292)>, <Shop: Shop object (291)>, <Shop: Shop object (290)>, <Shop: Shop object (289)>, <Shop: Shop object (288)>, <Shop: Shop object (287)>, '...(remaining elements truncated)...']>

In [39]:
conditions = Q(pk__gte=5)
conditions |= Q(pk__lt=10)

conditions

# Update Rows

### 지정 Row

In [40]:
qs = Shop.objects.all()
shop = qs.get(pk=10)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 10 LIMIT 21; args=(10,)

DoesNotExist: Shop matching query does not exist.

In [41]:
shop.name, shop.telephone

('투썸플레이스', '042-1234-1234')

In [43]:
shop.telephone = '042-1234-0006'

In [44]:
shop.save()

(0.031) UPDATE "mall_shop" SET "name" = '투썸플레이스', "description" = '', "telephone" = '042-1234-0006', "photo" = '', "created_at" = '2021-12-01 11:38:51.235726', "updated_at" = '2021-12-01 11:41:05.779129' WHERE "mall_shop"."id" = 103; args=('투썸플레이스', '', '042-1234-0006', '', '2021-12-01 11:38:51.235726', '2021-12-01 11:41:05.779129', 103)

### 지정 범위의 Rows

In [45]:
qs = Shop.objects.all()
qs = qs.filter(pk__lte=10)
qs.update(
    description='not used description'
)

(0.000) UPDATE "mall_shop" SET "description" = 'not used description' WHERE "mall_shop"."id" <= 10; args=('not used description', 10)

0

In [46]:
qs = Shop.objects.all()
qs = qs.filter(pk__lte=10)
for shop in qs:
    shop.description = 'now used description'
    shop.save()

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" <= 10 ORDER BY "mall_shop"."id" DESC; args=(10,)

# Delete Rows

In [47]:
qs = Shop.objects.all()

In [ ]:
# qs.delete()

In [48]:
qs

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 21; args=()

<QuerySet [<Shop: Shop object (306)>, <Shop: Shop object (305)>, <Shop: Shop object (304)>, <Shop: Shop object (303)>, <Shop: Shop object (302)>, <Shop: Shop object (301)>, <Shop: Shop object (300)>, <Shop: Shop object (299)>, <Shop: Shop object (298)>, <Shop: Shop object (297)>, <Shop: Shop object (296)>, <Shop: Shop object (295)>, <Shop: Shop object (294)>, <Shop: Shop object (293)>, <Shop: Shop object (292)>, <Shop: Shop object (291)>, <Shop: Shop object (290)>, <Shop: Shop object (289)>, <Shop: Shop object (288)>, <Shop: Shop object (287)>, '...(remaining elements truncated)...']>