In [1]:
import os
os.environ["DJANGO_SETTINGS_MODULE"] = "mydjango13.settings"
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"

import django
django.setup()

In [2]:
from mall.models import Shop

In [3]:
Shop.objects.all()

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 21; args=()

<QuerySet [<Shop: Shop object (204)>, <Shop: Shop object (203)>, <Shop: Shop object (202)>, <Shop: Shop object (201)>, <Shop: Shop object (200)>, <Shop: Shop object (199)>, <Shop: Shop object (198)>, <Shop: Shop object (197)>, <Shop: Shop object (196)>, <Shop: Shop object (195)>, <Shop: Shop object (194)>, <Shop: Shop object (193)>, <Shop: Shop object (192)>, <Shop: Shop object (191)>, <Shop: Shop object (190)>, <Shop: Shop object (189)>, <Shop: Shop object (188)>, <Shop: Shop object (187)>, <Shop: Shop object (186)>, <Shop: Shop object (185)>, '...(remaining elements truncated)...']>

# Create

In [4]:
shop = Shop()
shop.name = 'twosome place'
shop.telephtone='042-1234-12324'

In [5]:
shop.save()

(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('twosome place', '', '', '', '2021-12-01 06:52:27.543621', '2021-12-01 06:52:27.543621'); args=['twosome place', '', '', '', '2021-12-01 06:52:27.543621', '2021-12-01 06:52:27.543621']

In [6]:
Shop.objects.create(
    name="셀프24시 빨래방",
    telephone="042-1234-1234",
)
shop

(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('셀프24시 빨래방', '', '042-1234-1234', '', '2021-12-01 06:52:27.564563', '2021-12-01 06:52:27.564563'); args=['셀프24시 빨래방', '', '042-1234-1234', '', '2021-12-01 06:52:27.564563', '2021-12-01 06:52:27.564563']

#

In [7]:
qs = Shop.objects.all()

In [8]:
for shop in qs:
    print(shop.pk, shop.name, shop.telephone)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC; args=()

206 셀프24시 빨래방 042-1234-1234
205 twosome place
204 가게명#100 042-1234-9100
203 가게명#99 042-1234-9099
202 가게명#98 042-1234-9098
201 가게명#97 042-1234-9097
200 가게명#96 042-1234-9096
199 가게명#95 042-1234-9095
198 가게명#94 042-1234-9094
197 가게명#93 042-1234-9093
196 가게명#92 042-1234-9092
195 가게명#91 042-1234-9091
194 가게명#90 042-1234-9090
193 가게명#89 042-1234-9089
192 가게명#88 042-1234-9088
191 가게명#87 042-1234-9087
190 가게명#86 042-1234-9086
189 가게명#85 042-1234-9085
188 가게명#84 042-1234-9084
187 가게명#83 042-1234-9083
186 가게명#82 042-1234-9082
185 가게명#81 042-1234-9081
184 가게명#80 042-1234-9080
183 가게명#79 042-1234-9079
182 가게명#78 042-1234-9078
181 가게명#77 042-1234-9077
180 가게명#76 042-1234-9076
179 가게명#75 042-1234-9075
178 가게명#74 042-1234-9074
177 가게명#73 042-1234-9073
176 가게명#72 042-1234-9072
175 가게명#71 042-1234-9071
174 가게명#70 042-1234-9070
173 가게명#69 042-1234-9069
172 가게명#68 042-1234-9068
171 가게명#67 042-1234-9067
170 가게명#66 042-1234-9066
169 가게명#65 042-1234-9065
168 가게명#64 042-1234-9064
167 가게명#63 042-1234-9063
166 가게명#62 042-1234-9062
165 가게명#61 042-1234-9061
164 가게명#60 042-1234-9060
163 가게명#59 042-1234-9059
162 가게명#58 042-1234-9058
161 가게명#57 042-1234-9057
160 가게명#56 042-1234-9056
159 가게명#55 042-1234-9055
158 가게명#54 042-1234-9054
157 가게명#53 042-1234-9053
156 가게명#52 042-1234-9052
155 가게명#51 042-1234-9051
154 가게명#50 042-1234-9050
153 가게명#49 042-1234-9049
152 가게명#48 042-1234-9048
151 가게명#47 042-1234-9047
150 가게명#46 042-1234-9046
149 가게명#45 042-1234-9045
148 가게명#44 042-1234-9044
147 가게명#43 042-1234-9043
146 가게명#42 042-1234-9042
145 가게명#41 042-1234-9041
144 가게명#40 042-1234-9040
143 가게명#39 042-1234-9039
142 가게명#38 042-1234-9038
141 가게명#37 042-1234-9037
140 가게명#36 042-1234-9036
139 가게명#35 042-1234-9035
138 가게명#34 042-1234-9034
137 가게명#33 042-1234-9033
136 가게명#32 042-1234-9032
135 가게명#31 042-1234-9031
134 가게명#30 042-1234-9030
133 가게명#29 042-1234-9029
132 가게명#28 042-1234-9028
131 가게명#27 042-1234-9027
130 가게명#26 042-1234-9026
129 가게명#25 042-1234-9025
128 가게명#24 042-1234-9024
127 가게명#23 042-1234-9023
126 가게명#22 042-1234-9022
125 가게명#21 042-1234-9021
124 가게명#20 042-1234-9020
123 가게명#19 042-1234-9019
122 가게명#18 042-1234-9018
121 가게명#17 042-1234-9017
120 가게명#16 042-1234-9016
119 가게명#15 042-1234-9015
118 가게명#14 042-1234-9014
117 가게명#13 042-1234-9013
116 가게명#12 042-1234-9012
115 가게명#11 042-1234-9011
114 가게명#10 042-1234-9010
113 가게명#9 042-1234-9009
112 가게명#8 042-1234-9008
111 가게명#7 042-1234-9007
110 가게명#6 042-1234-9006
109 가게명#5 042-1234-9005
108 가게명#4 042-1234-9004
107 가게명#3 042-1234-9003
106 가게명#2 042-1234-9002
105 가게명#1 042-1234-9001
104 가게명#100 042-1234-9100
103 가게명#99 042-1234-9099
102 가게명#98 042-1234-9098
101 가게명#97 042-1234-9097
100 가게명#96 042-1234-9096
99 가게명#95 042-1234-9095
98 가게명#94 042-1234-9094
97 가게명#93 042-1234-9093
96 가게명#92 042-1234-9092
95 가게명#91 042-1234-9091
94 가게명#90 042-1234-9090
93 가게명#89 042-1234-9089
92 가게명#88 042-1234-9088
91 가게명#87 042-1234-9087
90 가게명#86 042-1234-9086
89 가게명#85 042-1234-9085
88 가게명#84 042-1234-9084
87 가게명#83 042-1234-9083
86 가게명#82 042-1234-9082
85 가게명#81 042-1234-9081
84 가게명#80 042-1234-9080
83 가게명#79 042-1234-9079
82 가게명#78 042-1234-9078
81 가게명#77 042-1234-9077
80 가게명#76 042-1234-9076
79 가게명#75 042-1234-9075
78 가게명#74 042-1234-9074
77 가게명#73 042-1234-9073
76 가게명#72 042-1234-9072
75 가게명#71 042-1234-9071
74 가게명#70 042-1234-9070
73 가게명#69 042-1234-9069
72 가게명#68 042-1234-9068
71 가게명#67 042-1234-9067
70 가게명#66 042-1234-9066
69 가게명#65 042-1234-9065
68 가게명#64 042-1234-9064
67 가게명#63 042-1234-9063
66 가게명#62 042-1234-9062
65 가게명#61 042-1234-9061
64 가게명#60 042-1234-9060
63 가게명#59 042-1234-9059
62 가게명#58 042-1234-9058
61 가게명#57 042-1234-9057
60 가게명#56 042-1234-9056
59 가게명#55 042-1234-9055
58 가게명#54 042-1234-9054
57 가게명#53 042-1234-9053
56 가게명#52 042-1234-9052
55 가게명#51 042-1234-9051
54 가게명#50 042-1234-9050
53 가게명#49 042-1234-9049
52 가게명#48 042-1234-9048
51 가게명#47 042-1234-9047
50 가게명#46 042-1234-9046
49 가게명#45 042-1234-9045
48 가게명#44 042-1234-9044
47 가게명#43 042-1234-9043
46 가게명#42 042-1234-9042
45 가게명#41 042-1234-9041
44 가게명#40 042-1234-9040
43 가게명#39 042-1234-9039
42 가게명#38 042-1234-9038
41 가게명#37 042-1234-9037
40 가게명#36 042-1234-9036
39 가게명#35 042-1234-9035
38 가게명#34 042-1234-9034
37 가게명#33 042-1234-9033
36 가게명#32 042-1234-9032
35 가게명#31 042-1234-9031
34 가게명#30 042-1234-9030
33 가게명#29 042-1234-9029
32 가게명#28 042-1234-9028
31 가게명#27 042-1234-9027
30 가게명#26 042-1234-9026
29 가게명#25 042-1234-9025
28 가게명#24 042-1234-9024
27 가게명#23 042-1234-9023
26 가게명#22 042-1234-9022
25 가게명#21 042-1234-9021
24 가게명#20 042-1234-9020
23 가게명#19 042-1234-9019
22 가게명#18 042-1234-9018
21 가게명#17 042-1234-9017
20 가게명#16 042-1234-9016
19 가게명#15 042-1234-9015
18 가게명#14 042-1234-9014
17 가게명#13 042-1234-9013
16 가게명#12 042-1234-9012
15 가게명#11 042-1234-9011
14 가게명#10 042-1234-9010
13 가게명#9 042-1234-9009
12 가게명#8 042-1234-9008
11 가게명#7 042-1234-9007
10 가게명#6 042-1234-9006
9 가게명#5 042-1234-9005
8 가게명#4 042-1234-9004
7 가게명#3 042-1234-9003
6 가게명#2 042-1234-9002
5 가게명#1 042-1234-9001

In [9]:
qs.order_by("id")

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" ASC LIMIT 21; args=()

<QuerySet [<Shop: Shop object (5)>, <Shop: Shop object (6)>, <Shop: Shop object (7)>, <Shop: Shop object (8)>, <Shop: Shop object (9)>, <Shop: Shop object (10)>, <Shop: Shop object (11)>, <Shop: Shop object (12)>, <Shop: Shop object (13)>, <Shop: Shop object (14)>, <Shop: Shop object (15)>, <Shop: Shop object (16)>, <Shop: Shop object (17)>, <Shop: Shop object (18)>, <Shop: Shop object (19)>, <Shop: Shop object (20)>, <Shop: Shop object (21)>, <Shop: Shop object (22)>, <Shop: Shop object (23)>, <Shop: Shop object (24)>, '...(remaining elements truncated)...']>

In [10]:
# qs = Shop.objects.all()

In [11]:
# qs.delete()

# 데이터 뻥튀기

In [12]:
for i in range(1, 101):
    name=f"가게명#{i}"
    telephone=f"042-1234-9{i:03}"
    Shop.objects.create(
        name = name,
        telephone=telephone,
    )

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#1', '', '042-1234-9001', '', '2021-12-01 06:52:28.335508', '2021-12-01 06:52:28.335508'); args=['가게명#1', '', '042-1234-9001', '', '2021-12-01 06:52:28.335508', '2021-12-01 06:52:28.335508']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#2', '', '042-1234-9002', '', '2021-12-01 06:52:28.347477', '2021-12-01 06:52:28.347477'); args=['가게명#2', '', '042-1234-9002', '', '2021-12-01 06:52:28.347477', '2021-12-01 06:52:28.347477']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#3', '', '042-1234-9003', '', '2021-12-01 06:52:28.354457', '2021-12-01 06:52:28.354457'); args=['가게명#3', '', '042-1234-9003', '', '2021-12-01 06:52:28.354457', '2021-12-01 06:52:28.354457']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#4', '', '042-1234-9004', '', '2021-12-01 06:52:28.362436', '2021-12-01 06:52:28.362436'); args=['가게명#4', '', '042-1234-9004', '', '2021-12-01 06:52:28.362436', '2021-12-01 06:52:28.362436']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#5', '', '042-1234-9005', '', '2021-12-01 06:52:28.369418', '2021-12-01 06:52:28.369418'); args=['가게명#5', '', '042-1234-9005', '', '2021-12-01 06:52:28.369418', '2021-12-01 06:52:28.369418']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#6', '', '042-1234-9006', '', '2021-12-01 06:52:28.377397', '2021-12-01 06:52:28.377397'); args=['가게명#6', '', '042-1234-9006', '', '2021-12-01 06:52:28.377397', '2021-12-01 06:52:28.377397']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#7', '', '042-1234-9007', '', '2021-12-01 06:52:28.385377', '2021-12-01 06:52:28.385377'); args=['가게명#7', '', '042-1234-9007', '', '2021-12-01 06:52:28.385377', '2021-12-01 06:52:28.385377']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#8', '', '042-1234-9008', '', '2021-12-01 06:52:28.393355', '2021-12-01 06:52:28.393355'); args=['가게명#8', '', '042-1234-9008', '', '2021-12-01 06:52:28.393355', '2021-12-01 06:52:28.393355']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#9', '', '042-1234-9009', '', '2021-12-01 06:52:28.400335', '2021-12-01 06:52:28.400335'); args=['가게명#9', '', '042-1234-9009', '', '2021-12-01 06:52:28.400335', '2021-12-01 06:52:28.400335']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#10', '', '042-1234-9010', '', '2021-12-01 06:52:28.407325', '2021-12-01 06:52:28.407325'); args=['가게명#10', '', '042-1234-9010', '', '2021-12-01 06:52:28.407325', '2021-12-01 06:52:28.407325']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#11', '', '042-1234-9011', '', '2021-12-01 06:52:28.415296', '2021-12-01 06:52:28.415296'); args=['가게명#11', '', '042-1234-9011', '', '2021-12-01 06:52:28.415296', '2021-12-01 06:52:28.415296']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#12', '', '042-1234-9012', '', '2021-12-01 06:52:28.421278', '2021-12-01 06:52:28.422275'); args=['가게명#12', '', '042-1234-9012', '', '2021-12-01 06:52:28.421278', '2021-12-01 06:52:28.422275']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#13', '', '042-1234-9013', '', '2021-12-01 06:52:28.429258', '2021-12-01 06:52:28.429258'); args=['가게명#13', '', '042-1234-9013', '', '2021-12-01 06:52:28.429258', '2021-12-01 06:52:28.429258']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#14', '', '042-1234-9014', '', '2021-12-01 06:52:28.443224', '2021-12-01 06:52:28.443224'); args=['가게명#14', '', '042-1234-9014', '', '2021-12-01 06:52:28.443224', '2021-12-01 06:52:28.443224']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#15', '', '042-1234-9015', '', '2021-12-01 06:52:28.451202', '2021-12-01 06:52:28.451202'); args=['가게명#15', '', '042-1234-9015', '', '2021-12-01 06:52:28.451202', '2021-12-01 06:52:28.451202']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#16', '', '042-1234-9016', '', '2021-12-01 06:52:28.459186', '2021-12-01 06:52:28.459186'); args=['가게명#16', '', '042-1234-9016', '', '2021-12-01 06:52:28.459186', '2021-12-01 06:52:28.459186']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#17', '', '042-1234-9017', '', '2021-12-01 06:52:28.467155', '2021-12-01 06:52:28.467155'); args=['가게명#17', '', '042-1234-9017', '', '2021-12-01 06:52:28.467155', '2021-12-01 06:52:28.467155']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#18', '', '042-1234-9018', '', '2021-12-01 06:52:28.476131', '2021-12-01 06:52:28.476131'); args=['가게명#18', '', '042-1234-9018', '', '2021-12-01 06:52:28.476131', '2021-12-01 06:52:28.476131']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#19', '', '042-1234-9019', '', '2021-12-01 06:52:28.483114', '2021-12-01 06:52:28.483114'); args=['가게명#19', '', '042-1234-9019', '', '2021-12-01 06:52:28.483114', '2021-12-01 06:52:28.483114']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#20', '', '042-1234-9020', '', '2021-12-01 06:52:28.497076', '2021-12-01 06:52:28.497076'); args=['가게명#20', '', '042-1234-9020', '', '2021-12-01 06:52:28.497076', '2021-12-01 06:52:28.497076']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#21', '', '042-1234-9021', '', '2021-12-01 06:52:28.505056', '2021-12-01 06:52:28.505056'); args=['가게명#21', '', '042-1234-9021', '', '2021-12-01 06:52:28.505056', '2021-12-01 06:52:28.505056']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#22', '', '042-1234-9022', '', '2021-12-01 06:52:28.515029', '2021-12-01 06:52:28.515029'); args=['가게명#22', '', '042-1234-9022', '', '2021-12-01 06:52:28.515029', '2021-12-01 06:52:28.515029']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#23', '', '042-1234-9023', '', '2021-12-01 06:52:28.522009', '2021-12-01 06:52:28.522009'); args=['가게명#23', '', '042-1234-9023', '', '2021-12-01 06:52:28.522009', '2021-12-01 06:52:28.522009']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#24', '', '042-1234-9024', '', '2021-12-01 06:52:28.529990', '2021-12-01 06:52:28.529990'); args=['가게명#24', '', '042-1234-9024', '', '2021-12-01 06:52:28.529990', '2021-12-01 06:52:28.529990']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#25', '', '042-1234-9025', '', '2021-12-01 06:52:28.535972', '2021-12-01 06:52:28.535972'); args=['가게명#25', '', '042-1234-9025', '', '2021-12-01 06:52:28.535972', '2021-12-01 06:52:28.535972']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#26', '', '042-1234-9026', '', '2021-12-01 06:52:28.543952', '2021-12-01 06:52:28.543952'); args=['가게명#26', '', '042-1234-9026', '', '2021-12-01 06:52:28.543952', '2021-12-01 06:52:28.543952']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#27', '', '042-1234-9027', '', '2021-12-01 06:52:28.549935', '2021-12-01 06:52:28.549935'); args=['가게명#27', '', '042-1234-9027', '', '2021-12-01 06:52:28.549935', '2021-12-01 06:52:28.549935']

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#28', '', '042-1234-9028', '', '2021-12-01 06:52:28.557922', '2021-12-01 06:52:28.557922'); args=['가게명#28', '', '042-1234-9028', '', '2021-12-01 06:52:28.557922', '2021-12-01 06:52:28.557922']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#29', '', '042-1234-9029', '', '2021-12-01 06:52:28.563896', '2021-12-01 06:52:28.563896'); args=['가게명#29', '', '042-1234-9029', '', '2021-12-01 06:52:28.563896', '2021-12-01 06:52:28.563896']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#30', '', '042-1234-9030', '', '2021-12-01 06:52:28.569882', '2021-12-01 06:52:28.569882'); args=['가게명#30', '', '042-1234-9030', '', '2021-12-01 06:52:28.569882', '2021-12-01 06:52:28.569882']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#31', '', '042-1234-9031', '', '2021-12-01 06:52:28.577860', '2021-12-01 06:52:28.577860'); args=['가게명#31', '', '042-1234-9031', '', '2021-12-01 06:52:28.577860', '2021-12-01 06:52:28.577860']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#32', '', '042-1234-9032', '', '2021-12-01 06:52:28.592821', '2021-12-01 06:52:28.592821'); args=['가게명#32', '', '042-1234-9032', '', '2021-12-01 06:52:28.592821', '2021-12-01 06:52:28.592821']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#33', '', '042-1234-9033', '', '2021-12-01 06:52:28.602793', '2021-12-01 06:52:28.602793'); args=['가게명#33', '', '042-1234-9033', '', '2021-12-01 06:52:28.602793', '2021-12-01 06:52:28.602793']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#34', '', '042-1234-9034', '', '2021-12-01 06:52:28.609774', '2021-12-01 06:52:28.609774'); args=['가게명#34', '', '042-1234-9034', '', '2021-12-01 06:52:28.609774', '2021-12-01 06:52:28.609774']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#35', '', '042-1234-9035', '', '2021-12-01 06:52:28.616755', '2021-12-01 06:52:28.616755'); args=['가게명#35', '', '042-1234-9035', '', '2021-12-01 06:52:28.616755', '2021-12-01 06:52:28.616755']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#36', '', '042-1234-9036', '', '2021-12-01 06:52:28.621741', '2021-12-01 06:52:28.621741'); args=['가게명#36', '', '042-1234-9036', '', '2021-12-01 06:52:28.621741', '2021-12-01 06:52:28.621741']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#37', '', '042-1234-9037', '', '2021-12-01 06:52:28.628723', '2021-12-01 06:52:28.628723'); args=['가게명#37', '', '042-1234-9037', '', '2021-12-01 06:52:28.628723', '2021-12-01 06:52:28.628723']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#38', '', '042-1234-9038', '', '2021-12-01 06:52:28.633709', '2021-12-01 06:52:28.633709'); args=['가게명#38', '', '042-1234-9038', '', '2021-12-01 06:52:28.633709', '2021-12-01 06:52:28.633709']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#39', '', '042-1234-9039', '', '2021-12-01 06:52:28.639693', '2021-12-01 06:52:28.639693'); args=['가게명#39', '', '042-1234-9039', '', '2021-12-01 06:52:28.639693', '2021-12-01 06:52:28.639693']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#40', '', '042-1234-9040', '', '2021-12-01 06:52:28.646675', '2021-12-01 06:52:28.646675'); args=['가게명#40', '', '042-1234-9040', '', '2021-12-01 06:52:28.646675', '2021-12-01 06:52:28.646675']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#41', '', '042-1234-9041', '', '2021-12-01 06:52:28.652659', '2021-12-01 06:52:28.652659'); args=['가게명#41', '', '042-1234-9041', '', '2021-12-01 06:52:28.652659', '2021-12-01 06:52:28.652659']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#42', '', '042-1234-9042', '', '2021-12-01 06:52:28.658643', '2021-12-01 06:52:28.658643'); args=['가게명#42', '', '042-1234-9042', '', '2021-12-01 06:52:28.658643', '2021-12-01 06:52:28.658643']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#43', '', '042-1234-9043', '', '2021-12-01 06:52:28.664626', '2021-12-01 06:52:28.664626'); args=['가게명#43', '', '042-1234-9043', '', '2021-12-01 06:52:28.664626', '2021-12-01 06:52:28.664626']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#44', '', '042-1234-9044', '', '2021-12-01 06:52:28.670611', '2021-12-01 06:52:28.670611'); args=['가게명#44', '', '042-1234-9044', '', '2021-12-01 06:52:28.670611', '2021-12-01 06:52:28.670611']
(0.031) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#45', '', '042-1234-9045', '', '2021-12-01 06:52:28.680585', '2021-12-01 06:52:28.680585'); args=['가게명#45', '', '042-1234-9045', '', '2021-12-01 06:52:28.680585', '2021-12-01 06:52:28.680585']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#46', '', '042-1234-9046', '', '2021-12-01 06:52:28.716488', '2021-12-01 06:52:28.716488'); args=['가게명#46', '', '042-1234-9046', '', '2021-12-01 06:52:28.716488', '2021-12-01 06:52:28.716488']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#47', '', '042-1234-9047', '', '2021-12-01 06:52:28.722472', '2021-12-01 06:52:28.722472'); args=['가게명#47', '', '042-1234-9047', '', '2021-12-01 06:52:28.722472', '2021-12-01 06:52:28.722472']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#48', '', '042-1234-9048', '', '2021-12-01 06:52:28.729453', '2021-12-01 06:52:28.729453'); args=['가게명#48', '', '042-1234-9048', '', '2021-12-01 06:52:28.729453', '2021-12-01 06:52:28.729453']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#49', '', '042-1234-9049', '', '2021-12-01 06:52:28.739427', '2021-12-01 06:52:28.739427'); args=['가게명#49', '', '042-1234-9049', '', '2021-12-01 06:52:28.739427', '2021-12-01 06:52:28.739427']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#50', '', '042-1234-9050', '', '2021-12-01 06:52:28.745412', '2021-12-01 06:52:28.745412'); args=['가게명#50', '', '042-1234-9050', '', '2021-12-01 06:52:28.745412', '2021-12-01 06:52:28.745412']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#51', '', '042-1234-9051', '', '2021-12-01 06:52:28.751396', '2021-12-01 06:52:28.751396'); args=['가게명#51', '', '042-1234-9051', '', '2021-12-01 06:52:28.751396', '2021-12-01 06:52:28.751396']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#52', '', '042-1234-9052', '', '2021-12-01 06:52:28.758376', '2021-12-01 06:52:28.758376'); args=['가게명#52', '', '042-1234-9052', '', '2021-12-01 06:52:28.758376', '2021-12-01 06:52:28.758376']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#53', '', '042-1234-9053', '', '2021-12-01 06:52:28.764360', '2021-12-01 06:52:28.764360'); args=['가게명#53', '', '042-1234-9053', '', '2021-12-01 06:52:28.764360', '2021-12-01 06:52:28.764360']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#54', '', '042-1234-9054', '', '2021-12-01 06:52:28.774335', '2021-12-01 06:52:28.774335'); args=['가게명#54', '', '042-1234-9054', '', '2021-12-01 06:52:28.774335', '2021-12-01 06:52:28.774335']

(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#55', '', '042-1234-9055', '', '2021-12-01 06:52:28.780319', '2021-12-01 06:52:28.780319'); args=['가게명#55', '', '042-1234-9055', '', '2021-12-01 06:52:28.780319', '2021-12-01 06:52:28.780319']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#56', '', '042-1234-9056', '', '2021-12-01 06:52:28.786302', '2021-12-01 06:52:28.786302'); args=['가게명#56', '', '042-1234-9056', '', '2021-12-01 06:52:28.786302', '2021-12-01 06:52:28.786302']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#57', '', '042-1234-9057', '', '2021-12-01 06:52:28.793283', '2021-12-01 06:52:28.793283'); args=['가게명#57', '', '042-1234-9057', '', '2021-12-01 06:52:28.793283', '2021-12-01 06:52:28.793283']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#58', '', '042-1234-9058', '', '2021-12-01 06:52:28.802259', '2021-12-01 06:52:28.802259'); args=['가게명#58', '', '042-1234-9058', '', '2021-12-01 06:52:28.802259', '2021-12-01 06:52:28.802259']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#59', '', '042-1234-9059', '', '2021-12-01 06:52:28.809244', '2021-12-01 06:52:28.809244'); args=['가게명#59', '', '042-1234-9059', '', '2021-12-01 06:52:28.809244', '2021-12-01 06:52:28.809244']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#60', '', '042-1234-9060', '', '2021-12-01 06:52:28.816222', '2021-12-01 06:52:28.816222'); args=['가게명#60', '', '042-1234-9060', '', '2021-12-01 06:52:28.816222', '2021-12-01 06:52:28.816222']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#61', '', '042-1234-9061', '', '2021-12-01 06:52:28.822206', '2021-12-01 06:52:28.822206'); args=['가게명#61', '', '042-1234-9061', '', '2021-12-01 06:52:28.822206', '2021-12-01 06:52:28.822206']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#62', '', '042-1234-9062', '', '2021-12-01 06:52:28.828189', '2021-12-01 06:52:28.828189'); args=['가게명#62', '', '042-1234-9062', '', '2021-12-01 06:52:28.828189', '2021-12-01 06:52:28.828189']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#63', '', '042-1234-9063', '', '2021-12-01 06:52:28.834173', '2021-12-01 06:52:28.834173'); args=['가게명#63', '', '042-1234-9063', '', '2021-12-01 06:52:28.834173', '2021-12-01 06:52:28.834173']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#64', '', '042-1234-9064', '', '2021-12-01 06:52:28.840158', '2021-12-01 06:52:28.840158'); args=['가게명#64', '', '042-1234-9064', '', '2021-12-01 06:52:28.840158', '2021-12-01 06:52:28.840158']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#65', '', '042-1234-9065', '', '2021-12-01 06:52:28.847139', '2021-12-01 06:52:28.847139'); args=['가게명#65', '', '042-1234-9065', '', '2021-12-01 06:52:28.847139', '2021-12-01 06:52:28.847139']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#66', '', '042-1234-9066', '', '2021-12-01 06:52:28.853124', '2021-12-01 06:52:28.853124'); args=['가게명#66', '', '042-1234-9066', '', '2021-12-01 06:52:28.853124', '2021-12-01 06:52:28.853124']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#67', '', '042-1234-9067', '', '2021-12-01 06:52:28.861103', '2021-12-01 06:52:28.861103'); args=['가게명#67', '', '042-1234-9067', '', '2021-12-01 06:52:28.861103', '2021-12-01 06:52:28.861103']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#68', '', '042-1234-9068', '', '2021-12-01 06:52:28.869079', '2021-12-01 06:52:28.869079'); args=['가게명#68', '', '042-1234-9068', '', '2021-12-01 06:52:28.869079', '2021-12-01 06:52:28.869079']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#69', '', '042-1234-9069', '', '2021-12-01 06:52:28.875063', '2021-12-01 06:52:28.875063'); args=['가게명#69', '', '042-1234-9069', '', '2021-12-01 06:52:28.875063', '2021-12-01 06:52:28.875063']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#70', '', '042-1234-9070', '', '2021-12-01 06:52:28.884039', '2021-12-01 06:52:28.884039'); args=['가게명#70', '', '042-1234-9070', '', '2021-12-01 06:52:28.884039', '2021-12-01 06:52:28.884039']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#71', '', '042-1234-9071', '', '2021-12-01 06:52:28.895013', '2021-12-01 06:52:28.895013'); args=['가게명#71', '', '042-1234-9071', '', '2021-12-01 06:52:28.895013', '2021-12-01 06:52:28.895013']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#72', '', '042-1234-9072', '', '2021-12-01 06:52:28.900994', '2021-12-01 06:52:28.900994'); args=['가게명#72', '', '042-1234-9072', '', '2021-12-01 06:52:28.900994', '2021-12-01 06:52:28.900994']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#73', '', '042-1234-9073', '', '2021-12-01 06:52:28.906979', '2021-12-01 06:52:28.906979'); args=['가게명#73', '', '042-1234-9073', '', '2021-12-01 06:52:28.906979', '2021-12-01 06:52:28.906979']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#74', '', '042-1234-9074', '', '2021-12-01 06:52:28.913959', '2021-12-01 06:52:28.913959'); args=['가게명#74', '', '042-1234-9074', '', '2021-12-01 06:52:28.913959', '2021-12-01 06:52:28.913959']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#75', '', '042-1234-9075', '', '2021-12-01 06:52:28.919944', '2021-12-01 06:52:28.919944'); args=['가게명#75', '', '042-1234-9075', '', '2021-12-01 06:52:28.919944', '2021-12-01 06:52:28.919944']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#76', '', '042-1234-9076', '', '2021-12-01 06:52:28.925928', '2021-12-01 06:52:28.925928'); args=['가게명#76', '', '042-1234-9076', '', '2021-12-01 06:52:28.925928', '2021-12-01 06:52:28.925928']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#77', '', '042-1234-9077', '', '2021-12-01 06:52:28.932909', '2021-12-01 06:52:28.932909'); args=['가게명#77', '', '042-1234-9077', '', '2021-12-01 06:52:28.932909', '2021-12-01 06:52:28.932909']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#78', '', '042-1234-9078', '', '2021-12-01 06:52:28.938894', '2021-12-01 06:52:28.938894'); args=['가게명#78', '', '042-1234-9078', '', '2021-12-01 06:52:28.938894', '2021-12-01 06:52:28.938894']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#79', '', '042-1234-9079', '', '2021-12-01 06:52:28.944879', '2021-12-01 06:52:28.944879'); args=['가게명#79', '', '042-1234-9079', '', '2021-12-01 06:52:28.944879', '2021-12-01 06:52:28.944879']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#80', '', '042-1234-9080', '', '2021-12-01 06:52:28.950861', '2021-12-01 06:52:28.950861'); args=['가게명#80', '', '042-1234-9080', '', '2021-12-01 06:52:28.950861', '2021-12-01 06:52:28.950861']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#81', '', '042-1234-9081', '', '2021-12-01 06:52:28.957844', '2021-12-01 06:52:28.957844'); args=['가게명#81', '', '042-1234-9081', '', '2021-12-01 06:52:28.957844', '2021-12-01 06:52:28.957844']

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#82', '', '042-1234-9082', '', '2021-12-01 06:52:28.963826', '2021-12-01 06:52:28.963826'); args=['가게명#82', '', '042-1234-9082', '', '2021-12-01 06:52:28.963826', '2021-12-01 06:52:28.963826']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#83', '', '042-1234-9083', '', '2021-12-01 06:52:28.969812', '2021-12-01 06:52:28.969812'); args=['가게명#83', '', '042-1234-9083', '', '2021-12-01 06:52:28.969812', '2021-12-01 06:52:28.969812']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#84', '', '042-1234-9084', '', '2021-12-01 06:52:28.975794', '2021-12-01 06:52:28.975794'); args=['가게명#84', '', '042-1234-9084', '', '2021-12-01 06:52:28.975794', '2021-12-01 06:52:28.975794']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#85', '', '042-1234-9085', '', '2021-12-01 06:52:28.984770', '2021-12-01 06:52:28.985768'); args=['가게명#85', '', '042-1234-9085', '', '2021-12-01 06:52:28.984770', '2021-12-01 06:52:28.985768']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#86', '', '042-1234-9086', '', '2021-12-01 06:52:28.991751', '2021-12-01 06:52:28.991751'); args=['가게명#86', '', '042-1234-9086', '', '2021-12-01 06:52:28.991751', '2021-12-01 06:52:28.991751']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#87', '', '042-1234-9087', '', '2021-12-01 06:52:28.998733', '2021-12-01 06:52:28.998733'); args=['가게명#87', '', '042-1234-9087', '', '2021-12-01 06:52:28.998733', '2021-12-01 06:52:28.998733']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#88', '', '042-1234-9088', '', '2021-12-01 06:52:29.003720', '2021-12-01 06:52:29.003720'); args=['가게명#88', '', '042-1234-9088', '', '2021-12-01 06:52:29.003720', '2021-12-01 06:52:29.003720']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#89', '', '042-1234-9089', '', '2021-12-01 06:52:29.010701', '2021-12-01 06:52:29.010701'); args=['가게명#89', '', '042-1234-9089', '', '2021-12-01 06:52:29.010701', '2021-12-01 06:52:29.010701']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#90', '', '042-1234-9090', '', '2021-12-01 06:52:29.027656', '2021-12-01 06:52:29.027656'); args=['가게명#90', '', '042-1234-9090', '', '2021-12-01 06:52:29.027656', '2021-12-01 06:52:29.027656']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#91', '', '042-1234-9091', '', '2021-12-01 06:52:29.034638', '2021-12-01 06:52:29.034638'); args=['가게명#91', '', '042-1234-9091', '', '2021-12-01 06:52:29.034638', '2021-12-01 06:52:29.034638']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#92', '', '042-1234-9092', '', '2021-12-01 06:52:29.043616', '2021-12-01 06:52:29.043616'); args=['가게명#92', '', '042-1234-9092', '', '2021-12-01 06:52:29.043616', '2021-12-01 06:52:29.043616']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#93', '', '042-1234-9093', '', '2021-12-01 06:52:29.049598', '2021-12-01 06:52:29.049598'); args=['가게명#93', '', '042-1234-9093', '', '2021-12-01 06:52:29.049598', '2021-12-01 06:52:29.049598']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#94', '', '042-1234-9094', '', '2021-12-01 06:52:29.055581', '2021-12-01 06:52:29.055581'); args=['가게명#94', '', '042-1234-9094', '', '2021-12-01 06:52:29.055581', '2021-12-01 06:52:29.055581']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#95', '', '042-1234-9095', '', '2021-12-01 06:52:29.062562', '2021-12-01 06:52:29.062562'); args=['가게명#95', '', '042-1234-9095', '', '2021-12-01 06:52:29.062562', '2021-12-01 06:52:29.062562']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#96', '', '042-1234-9096', '', '2021-12-01 06:52:29.069544', '2021-12-01 06:52:29.069544'); args=['가게명#96', '', '042-1234-9096', '', '2021-12-01 06:52:29.069544', '2021-12-01 06:52:29.069544']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#97', '', '042-1234-9097', '', '2021-12-01 06:52:29.075528', '2021-12-01 06:52:29.075528'); args=['가게명#97', '', '042-1234-9097', '', '2021-12-01 06:52:29.075528', '2021-12-01 06:52:29.075528']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#98', '', '042-1234-9098', '', '2021-12-01 06:52:29.081512', '2021-12-01 06:52:29.081512'); args=['가게명#98', '', '042-1234-9098', '', '2021-12-01 06:52:29.081512', '2021-12-01 06:52:29.081512']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#99', '', '042-1234-9099', '', '2021-12-01 06:52:29.087495', '2021-12-01 06:52:29.087495'); args=['가게명#99', '', '042-1234-9099', '', '2021-12-01 06:52:29.087495', '2021-12-01 06:52:29.087495']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#100', '', '042-1234-9100', '', '2021-12-01 06:52:29.094478', '2021-12-01 06:52:29.094478'); args=['가게명#100', '', '042-1234-9100', '', '2021-12-01 06:52:29.094478', '2021-12-01 06:52:29.094478']

# Slicing

In [14]:
qs = Shop.objects.all()

In [15]:
qs[:10]

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 10; args=()

<QuerySet [<Shop: Shop object (306)>, <Shop: Shop object (305)>, <Shop: Shop object (304)>, <Shop: Shop object (303)>, <Shop: Shop object (302)>, <Shop: Shop object (301)>, <Shop: Shop object (300)>, <Shop: Shop object (299)>, <Shop: Shop object (298)>, <Shop: Shop object (297)>]>

In [16]:
qs[-10:]

AssertionError: Negative indexing is not supported.

In [18]:
for shop in reversed(qs.order_by("id")[:10]):
    print(shop.pk, shop.name, shop.telephone)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" ASC LIMIT 10; args=()

14 가게명#10 042-1234-9010
13 가게명#9 042-1234-9009
12 가게명#8 042-1234-9008
11 가게명#7 042-1234-9007
10 가게명#6 042-1234-9006
9 가게명#5 042-1234-9005
8 가게명#4 042-1234-9004
7 가게명#3 042-1234-9003
6 가게명#2 042-1234-9002
5 가게명#1 042-1234-9001

# Conditions

In [20]:
qs = shop.objects.all()

AttributeError: Manager isn't accessible via Shop instances

In [21]:
# filter <-> exclude
qs.filter(pk=1)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 1 ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(1,)

In [22]:
qs.exclude(pk=1)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE NOT ("mall_shop"."id" = 1) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(1,)

<QuerySet [<Shop: Shop object (306)>, <Shop: Shop object (305)>, <Shop: Shop object (304)>, <Shop: Shop object (303)>, <Shop: Shop object (302)>, <Shop: Shop object (301)>, <Shop: Shop object (300)>, <Shop: Shop object (299)>, <Shop: Shop object (298)>, <Shop: Shop object (297)>, <Shop: Shop object (296)>, <Shop: Shop object (295)>, <Shop: Shop object (294)>, <Shop: Shop object (293)>, <Shop: Shop object (292)>, <Shop: Shop object (291)>, <Shop: Shop object (290)>, <Shop: Shop object (289)>, <Shop: Shop object (288)>, <Shop: Shop object (287)>, '...(remaining elements truncated)...']>

In [25]:
# lt
# lte
# gt
# gte
qs.filter(
    pk__gte=5,
    pk__lt=10, #less than
    
)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 AND "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

In [26]:
qs.filter(pk__gte=5).filter(pk__lt=10)  # .으로 연결시키는 것: chaining

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 AND "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

In [27]:
qs1=Shop.objects.all()
qs1=qs1.filter(pk__gte=5)
qs1=qs1.filter(pk__lt=10)

In [28]:
qs2=Shop.objects.all().filter(pk__gte=5).filter(pk__lt=10)

In [ ]:
# QuerySet is Lazy

In [30]:
qs=Shop.objects.all()

In [33]:
Shop.objects.all()

(0.016) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 21; args=()

<QuerySet [<Shop: Shop object (306)>, <Shop: Shop object (305)>, <Shop: Shop object (304)>, <Shop: Shop object (303)>, <Shop: Shop object (302)>, <Shop: Shop object (301)>, <Shop: Shop object (300)>, <Shop: Shop object (299)>, <Shop: Shop object (298)>, <Shop: Shop object (297)>, <Shop: Shop object (296)>, <Shop: Shop object (295)>, <Shop: Shop object (294)>, <Shop: Shop object (293)>, <Shop: Shop object (292)>, <Shop: Shop object (291)>, <Shop: Shop object (290)>, <Shop: Shop object (289)>, <Shop: Shop object (288)>, <Shop: Shop object (287)>, '...(remaining elements truncated)...']>

# Get 1 row

In [40]:
pk = 10
not_exist_pk = 100000

In [35]:
shop = Shop.objects.get(pk=pk)  # 가져올 대상이 1개임을 기대, 1개가 아니면 예외가 발생
shop

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 10 LIMIT 21; args=(10,)

In [41]:
Shop.objects.get(pk=not_exist_pk) # Shop.DoesNotExist

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 100000 LIMIT 21; args=(100000,)

DoesNotExist: Shop matching query does not exist.

In [36]:
Shop.objects.filter(pk=pk)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 10 ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(10,)

In [42]:
Shop.objects.filter(pk=not_exist_pk)[0] # IndexError 발생

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 100000 ORDER BY "mall_shop"."id" DESC LIMIT 1; args=(100000,)

IndexError: list index out of range

In [43]:
Shop.objects.filter(pk=not_exist_pk).first()  # 지정 Row가 없다면 None을 반환할뿐, 예외는 발생X

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 100000 ORDER BY "mall_shop"."id" DESC LIMIT 1; args=(100000,)

# Comditions(OR)

In [44]:
qs = Shop.objects.all()
qs.filter(pk__gte=5, pk__lt=10)   # AND

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 AND "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

In [45]:
from django.db.models import Q

In [46]:
Q(pk__gte=5)

In [47]:
Q(pk__lt=10)

In [48]:
Q(pk__gte=5) & Q(pk__lt=10)

In [49]:
Q(pk__gte=5) | Q(pk__lt=10)

In [51]:
qs = Shop.objects.all()
qs.filter(
    Q(pk__gte=5) | Q(pk__lt=10)
)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 OR "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

<QuerySet [<Shop: Shop object (306)>, <Shop: Shop object (305)>, <Shop: Shop object (304)>, <Shop: Shop object (303)>, <Shop: Shop object (302)>, <Shop: Shop object (301)>, <Shop: Shop object (300)>, <Shop: Shop object (299)>, <Shop: Shop object (298)>, <Shop: Shop object (297)>, <Shop: Shop object (296)>, <Shop: Shop object (295)>, <Shop: Shop object (294)>, <Shop: Shop object (293)>, <Shop: Shop object (292)>, <Shop: Shop object (291)>, <Shop: Shop object (290)>, <Shop: Shop object (289)>, <Shop: Shop object (288)>, <Shop: Shop object (287)>, '...(remaining elements truncated)...']>

In [53]:
conditions=Q(pk__get=5)
# conditions=conditions | Q(pk__lt=10)
conditions |= Q(pk__lt=10)

conditions

# Update Rows

## 지정 Row

In [54]:
qs = Shop.objects.all()
shop = qs.get(pk=10)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 10 LIMIT 21; args=(10,)

In [55]:
shop.name, shop.telephone

('가게명#6', '042-1234-9006')

In [56]:
shop.telephone='042-1234-0006'

In [57]:
shop.save()

(0.015) UPDATE "mall_shop" SET "name" = '가게명#6', "description" = '', "telephone" = '042-1234-0006', "photo" = '', "created_at" = '2021-12-01 06:45:31.840597', "updated_at" = '2021-12-01 07:38:45.305764' WHERE "mall_shop"."id" = 10; args=('가게명#6', '', '042-1234-0006', '', '2021-12-01 06:45:31.840597', '2021-12-01 07:38:45.305764', 10)

## 지정 범위의 Row

In [59]:
qs = Shop.objects.all()

qs = qs.filter(pk__lte=10)
qs.update(
    description="not used discription"
)

(0.016) UPDATE "mall_shop" SET "description" = 'not used discription' WHERE "mall_shop"."id" <= 10; args=('not used discription', 10)

6

In [60]:
qs = Shop.objects.all()

qs = qs.filter(pk__lte=10)

for shop in qs:
    shop.description="not used discription"
    shop.save()

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" <= 10 ORDER BY "mall_shop"."id" DESC; args=(10,)
(0.047) UPDATE "mall_shop" SET "name" = '가게명#6', "description" = 'not used discription', "telephone" = '042-1234-0006', "photo" = '', "created_at" = '2021-12-01 06:45:31.840597', "updated_at" = '2021-12-01 07:42:03.562747' WHERE "mall_shop"."id" = 10; args=('가게명#6', 'not used discription', '042-1234-0006', '', '2021-12-01 06:45:31.840597', '2021-12-01 07:42:03.562747', 10)
(0.015) UPDATE "mall_shop" SET "name" = '가게명#5', "description" = 'not used discription', "telephone" = '042-1234-9005', "photo" = '', "created_at" = '2021-12-01 06:45:31.833614', "updated_at" = '2021-12-01 07:42:03.600457' WHERE "mall_shop"."id" = 9; args=('가게명#5', 'not used discription', '042-1234-9005', '', '2021-12-01 06:45:31.833614', '2021-12-01 07:42:03.600457', 9)
(0.016) UPDATE "mall_shop" SET "name" = '가게명#4', "description" = 'not used discription', "telephone" = '042-1234-9004', "photo" = '', "created_at" = '2021-12-01 06:45:31.827465', "updated_at" = '2021-12-01 07:42:03.621401' WHERE "mall_shop"."id" = 8; args=('가게명#4', 'not used discription', '042-1234-9004', '', '2021-12-01 06:45:31.827465', '2021-12-01 07:42:03.621401', 8)
(0.000) UPDATE "mall_shop" SET "name" = '가게명#3', "description" = 'not used discription', "telephone" = '042-1234-9003', "photo" = '', "created_at" = '2021-12-01 06:45:31.817057', "updated_at" = '2021-12-01 07:42:03.629395' WHERE "mall_shop"."id" = 7; args=('가게명#3', 'not used discription', '042-1234-9003', '', '2021-12-01 06:45:31.817057', '2021-12-01 07:42:03.629395', 7)
(0.000) UPDATE "mall_shop" SET "name" = '가게명#2', "description" = 'not used discription', "telephone" = '042-1234-9002', "photo" = '', "created_at" = '2021-12-01 06:45:31.799127', "updated_at" = '2021-12-01 07:42:03.635335' WHERE "mall_shop"."id" = 6; args=('가게명#2', 'not used discription', '042-1234-9002', '', '2021-12-01 06:45:31.799127', '2021-12-01 07:42:03.635335', 6)
(0.016) UPDATE "mall_shop" SET "name" = '가게명#1', "description" = 'not used discription', "telephone" = '042-1234-9001', "photo" = '', "created_at" = '2021-12-01 06:45:31.779121', "updated_at" = '2021-12-01 07:42:03.642318' WHERE "mall_shop"."id" = 5; args=('가게명#1', 'not used discription', '042-1234-9001', '', '2021-12-01 06:45:31.779121', '2021-12-01 07:42:03.642318', 5)